[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
	branch = master
[submodule "voice-test/third_party/sensevoice-cpp"]
	path = voice-test/third_party/sensevoice-cpp
	url = https://github.com/lovemefan/SenseVoice.cpp.git
